nav {
	height: 120px;
	width: 100%;
	background-color: #4056a1;
	color: #ffffff;
	padding: 1.5em;
	z-index: 9999;
	position: fixed;
	top: 0;
}
.title {
	font-family: "Bungee", sans-serif;
}
.words {
	float: right;
}
.fa-angle-double-down {
	margin-left: 75px;
}
