.new-tweet {
	margin-bottom: 3.5em;
}
.tweet-text {
	display: flex;
	flex-direction: column;
}
.tweet-question {
	margin-top: 30px;
	align-self: flex-start;
	font-weight: bold;
}
#tweet-text {
	width: 100%;
	background: transparent;
	outline: none;
	border: none;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.tweet-button {
	margin-top: 10px;
	background-color: #4056a1;
	color: #ffffff;
	font-family: "Bungee", sans-serif;
	float: left;
}
.tweet-counter {
	margin-top: 15px;
	font-family: "Bungee", sans-serif;
	float: right;
}
.char-exceed {
	color: red;
}
